:root {
    /* ui-pallete */
    --border-color: #D9D6D0;
    --accent-color: #262F40;
    --main-color: #6C7D8C;
    --font-color: #151B26;
    --icon-color: #EC7357;
    --icon-hover-color: #FDD692;
    /* key-type */
    --brown-key-color: #cd6133;
    --blue-key-color: #0984e3;
    --black-key-color: #2d3436;
    --red-key-color: #d63031;
    --etc-key-color: #6c5ce7;
}

body {
    background-color: #fff !important;
    margin: 0 !important;
    height: 100vh !important;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

/* font-awesome */
.fas {
    color: var(--icon-color);
}
