:root {
    /* ui-pallete */
    --border-color: #D9D6D0;
    --accent-color: #262F40;
    --main-color: #6C7D8C;
    --font-color: #151B26;
    --icon-color: #EC7357;
    --icon-hover-color: #FDD692;
    /* key-type */
    --brown-key-color :#cd6133;
    --blue-key-color :#0984e3;
    --black-key-color :#2d3436;
    --red-key-color :#d63031;
    --etc-key-color : #6c5ce7;
}

html {
    font-size: 10px;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

/* font-awesome */
.fas {
    color: var(--icon-color);
}

/* header */
.title { 
    display: none;
}

.main-link {
    color: var(--icon-color);
    font-weight: 600;
    font-size: 1.8rem;
}

.menu {
    display: none;
}

.menu-open{
    display: block;
}

header {
    margin: 0;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;
    padding : 0.4rem;
    border: 1px solid var(--border-color);
}

header button {
    border-style: none;
    background-color: var(--accent-color);
}

header button:hover {
    background-color: var(--icon-hover-color);
    color : #fff;
    transition: color, 750ms;
}

/* footer */
footer {
    margin: 0 3.5416666666666665%;
    position: relative;
    bottom: 0;
    width: 90%;
}

.footer-link {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    border-top: 1px solid var(--border-color);
}

.footer-link li {
    padding : 1rem 0;
    margin-right: 1rem;
}

.footer-link a{
    color: var(--main-color);
    font-size: 1.2rem;
}

.hide{
    display: none !important;
}
